.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles */
.navs1{
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  padding: 4px 0rem;
}

.no-padding {
  padding: 0;
}

.text-left{
  text-align: left !important;
}

.menu{
  padding: 10px 0px;
  background-color: #fff;
}

.bg-menu{
  background-color: #303952;
}

.bg-color-primary{
  background-color: #002029;
}

.bg-color-secondary{
  background-color: #00607a;
}

.text-primary{
  color: #002029;
}

.text-secondary{
  color: #00607a;
}